@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;500;700&display=swap');

body {
  font-family: 'League Spartan';
  font-size: 15px;
  font-weight: 400;
  background-image: url(../images/bg-pattern-top-desktop.svg),
  url(../images/bg-pattern-bottom-desktop.svg);
  background-position: left top, right bottom;
  background-repeat: no-repeat, no-repeat;
}

.container {
  width: 80%;
  margin: 50px auto 20px;
}

.info {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
  margin-bottom: 40px;
}

.info-left {
  flex-basis: 40%;
}

.info-right {
  flex-basis: 40%;
}

.info-left h1 {
  font-size: 50px;
  font-weight: 700;
  color: #5e2b5e;
  line-height: 40px;
  letter-spacing: -1px;
}

.info-left p {
  color: grey;
  line-height: 1.3;
  text-align: justify;
  font-weight: 500;
}

.ratings {
  display: flex;
  align-items: baseline;
  border: none;
  width: 350px;
  align-items: center;
  justify-content: center;
  background-color: #F7F2F7;
  border-radius: 6px;
  margin-bottom: 10px;
}

#rating-2 {
  margin-left: 40px;
}

#rating-3 {
  margin-left: 80px;
}

.star img {
  padding: 3px;
}

.ratings p {
  padding-left: 7px;
  color: #5e2b5e;
  font-weight: 700;
}

/* CARDS */
.cards {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
}

.info-cards {
  border: none;
  border-radius: 7px;
  padding: 25px;
  width: 250px;
  height: 160px;
  justify-content: center;
  background-color: #5e2b5e;
}

.img-card {
  display: flex;
  flex-direction: column;
  align-content: center;
}

.info-cards img {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  margin: auto;
}

.card-header {
  display: flex;
  align-items: stretch;
}

.card-header * {
  margin: 5px;
}

#info-card1 {
  margin-top: 30px;
}

#info-card2 {
  margin-left: 30px;
  margin-top: 50px;
}

#info-card3 {
  margin-left: 30px;
  margin-top: 70px;
}

.info-cards p {
  color: #fff;
  line-height: 1.3;
  justify-content: left;
}

.info-cards h3 {
  color: #fff;
  align-items: flex-start;
}

.info-cards h4 {
  color: #F7B6D3;
  font-weight: lighter;
}

.details-card {
  align-items: center;
  padding-left: 8px;
  flex-basis: 50%;
}

/* ATTRIBUTION */
.attribution {
  text-align: center;
  margin-top: 50px;
}

.attribution a {
  text-decoration: none;
  color: black;
}

.attribution a:hover {
  color: grey;
  text-decoration: underline;
}
